@model SocialNetwork.ViewModel.ProfileViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="bg-white pt-4">
    <div class="d-flex justify-content-center">
        <div style="width:74%;min-height:500px;background:#dedede;border-radius:10px"></div>
    </div>
    <div class="d-flex justify-content-center" style="height: 150px">
        <div class="d-flex justify-content-between px-3" style="width:70%;">
            <style>
                .first-element {
                    height: 170px;
                    width: 170px;
                    position: relative;
                    top: -50px;
                    z-index: 100;
                    border-radius: 50%;
                    border: 5px solid #fff;
                }

                .friend-avatar {
                    border-radius: 50%;
                    border-left: 3px solid #fff;
                    border-top: 3px solid #fff;
                    border-bottom: 3px solid #fff;
                    box-sizing: content-box;
                }

                .friend-img {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                }

                .friend-avatar:not(:first-child) {
                    margin-left: -10px;
                }
            </style>
            @{
                var imageUrl = string.IsNullOrEmpty(Model.User?.ProfilePictureUrl) ? "default-avatar.png" : Model.User?.ProfilePictureUrl;
            }
            <div class="first-element col-3" style="background-image: url('@Url.Content("~/img/"+imageUrl)'); background-size: cover; background-position: center;"></div>
            <div class="col-3">
                <div class="mt-3">
                    <h2 class="fw-bold">@Model.User?.FullName</h2>
                    <div>@Model.TotalFriendsCount người bạn</div>
                    <div class="d-flex">
                        @if (Model.Friends != null)
                        {
                            foreach (var friend in Model.Friends)
                            {
                                <div class="friend-avatar"><a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-username="@friend.UserName"><img src="~/img/@friend.ProfilePictureUrl" class="friend-img" /></a></div>
                                
                            }
                        }


                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="mt-3 float-end d-flex" id="check-profile">
                    
            </div></div>
        </div>

    </div>
    <div class="d-flex justify-content-center">
        <div class="px-3" style="width:70%">
            <div class="d-flex" style="border-top:1px solid #dedede;min-height:60px">
                <a class="profile-item active"><div class="px-3 h-100 d-flex align-items-center"><span>Bài viết</span></div></a>
                <a class="profile-item" href="@Url.Action("Friend", "Account", new { userName = Model.User?.UserName })">
                    <div class="px-3 h-100 d-flex align-items-center"><span>Bạn bè</span></div>
                </a>
                
            </div>
        </div>
    </div>
</div>
<div class="pb-3" style="background:#f2f4f7">
    <div class="d-flex justify-content-center pt-4">
        <div class="d-flex px-3 justify-content-between" style="width:70%;min-height:500px;">
            <div class="grid-container">
                <div class="left-column">
                    <div class="bg-white brpr pb-3 mb-3">
                        <div class="pt-3 px-3">
                            <h3 class="fw-bold fs-4">Giới Thiệu</h3>
                        </div>
                        <div class="pt-3 px-3">
                            <span id="bio-text" class="text-center d-block">@Model.User?.Bio</span>
                            <input id="bio-input" type="text" class="d-none form-control" />
                            <div class="mt-3">
                                <button id="edit-bio-btn" class="btn-profile w-100">
                                    Chỉnh sửa tiểu sử
                                </button>
                                <div id="choose-pr" class="d-none">
                                    <button class="btn-profile" id="cancel-bio-btn">Hủy</button>
                                    <button class="btn-profile" id="save-bio-btn">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white brpr pb-3 mb-3">
                        <div class="px-3">
                            <div class="pt-3 d-flex justify-content-between align-items-center">
                                <h3 class="fw-bold fs-4">Bạn bè</h3>
                                <a class="">Xem tất cả bạn bè</a>
                            </div>
                            <div><span style="color:grey">@Model.TotalFriendsCount người bạn</span></div>
                        </div>
                        <div class="pt-3 px-3">
                            <div class="d-flex align-items-md-start justify-content-between flex-wrap">
                                @if (Model.Friends != null)
                                {
                                    foreach (var friend in Model.Friends)
                                    {
                                        <a asp-controller="Account" asp-action="Profile" asp-route-username="@friend.UserName">

                                            <div class="pb-3">
                                                <img class="brpr" src="/img/@friend.ProfilePictureUrl" style="width:122px; height:122px" />
                                                <div><span class="span-friend">@friend.FullName</span></div>
                                            </div>
                                        </a>
                                    }
                                }
                                
                                
                            </div>
                        </div>
                    </div>
                </div>


                
                <div id="postsContainer">
                    <div class="mb-3 bg-white brpr">
                        <div class="p-3">
                            <div class="d-flex">
                                <a class="me-2" href="Profile/@User.Identity?.Name"><img src="~/img/@imageUrl" alt="Alternate Text" style="height:50px;width:50px;border-radius:50%" /></a>
                                <input id="add-post" class="flex-grow-1 px-3 text-lg-start" style="border-radius:30px;background-color:#e7e9eb" type="button" name="name" value="Bạn đang nghĩ gì" />
                            </div>
                            <div class="d-flex mt-3 pt-3" style="border-top:1px solid #dedede">
                                <div class="col-4 text-center">
                                    <span class="me-1"><i class="fa-solid fa-video" style="font-size:20px;color:red"></i></span>
                                    <span>Video trực tiếp</span>
                                </div>
                                <div class="col-4 text-center">
                                    <span class="me-1"><i class="fa-solid fa-image" style="font-size:20px;color:green"></i></span>
                                    <span>Ảnh video</span>
                                </div>
                                <div class="col-4 text-center">
                                    <span class="me-1"><i class="fa-solid fa-flag" style="font-size:20px;color:blue"></i></span>
                                    <span>Sự kiện trong đời</span>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="post-detail">

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let pageIndex = 1;
    let pageIndexCmt = 2;
    let connection;
    const pageSizeCmt = 5;
    const pageSize = 2;
    let isLoading = false; // Tránh gọi API liên tục khi đang tải
    let isLoadingCmt = false;
    let path = window.location.pathname;  // Lấy đường dẫn từ URL
    let username = path.split('/').pop();
    
    function formatTimeAgo(createdAt) {
           const now = new Date();
           createdAt = createdAt+"Z"
           const createdDate = new Date(createdAt);

           const diffInMilliseconds = now.getTime() - createdDate.getTime();
           const diffInSeconds = Math.floor(diffInMilliseconds / 1000); // Chuyển đổi sang giây

           // Nếu mới vừa đăng
           if (diffInSeconds < 60) {
               return `${diffInSeconds} giây trước`;
           }

           const diffInMinutes = Math.floor(diffInSeconds / 60); // Chuyển sang phút
           // Nếu vài phút trước
           if (diffInMinutes < 60) {
               return `${diffInMinutes} phút trước`;
           }

           const diffInHours = Math.floor(diffInMinutes / 60); // Chuyển sang giờ
           // Nếu vài giờ trước
           if (diffInHours < 24) {
               return `${diffInHours} giờ trước`;
           }

           const diffInDays = Math.floor(diffInHours / 24); // Chuyển sang ngày
           // Nếu vài ngày trước
           if (diffInDays < 30) {
               return `${diffInDays} ngày trước`;
           }

           const diffInMonths = now.getMonth() - createdDate.getMonth() + 12 * (now.getFullYear() - createdDate.getFullYear());
           // Nếu vài tháng trước
           if (diffInMonths < 12) {
               return `${diffInMonths} tháng trước`;
           }

           const diffInYears = now.getFullYear() - createdDate.getFullYear(); // Chuyển sang năm
           // Nếu vài năm trước
           return `${diffInYears} năm trước`;
    }
    function loadPosts() {
        if (isLoading) return; // Nếu đang tải thì không gọi tiếp
        isLoading = true; // Đánh dấu là đang tải

        $.ajax({
            url: `/Account/GetPosts?userName=${username}&pageIndex=${pageIndex}&pageSize=${pageSize}`,
            method: "GET",
            success: function (data) {
                let content = "";
                if (data.length === 0) {
                    $(window).off("scroll"); // Không còn bài viết, tắt sự kiện cuộn
                    
                } else {
                    
                    data.forEach(post => {
                       


                        
                        let createdAt = new Date(post.post.createdAt).toLocaleString("vi-VN"); 
                        console.log(post.post.user)
                        content += `
                        <div class="mb-3 bg-white brpr pb-2 post">
                            <div class="d-flex p-3">
                                <a class="me-2" href="Profile/${post.post.user?.fullName}">
                                    <img src="/img/${post.post.user?.profilePictureUrl}"
                                        style="height:50px;width:50px;border-radius:50%" />
                                </a>
                                <div class="flex-grow-1">
                                    <div><span class="fw-bold mb-1">${post.post.user.fullName}</span></div>
                                    <div><span style="font-size:12px" class="fw-bold bg-danger-subtle">${createdAt}</span></div>
                                </div>
                                <div><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="px-3 pb-3">
                                <div><span>${post.post.content}</span></div>
                            </div>
                            <div class="px-5" style="background-color:beige">
                            
                         
                            ${post.post.imageUrl ? `<img src="/img/${post.post.imageUrl}" style="width:100%;height:100%" />` : ""}
                            </div>
                            <div class="px-3 pt-1 pb-1" >
                                <div>
                                    <i class="fa-solid fa-heart mx-1 like ${post.isLiked ? "active-Like":"" }" id="${post.post.id}" data-postid="${post.post.id}"></i>
                                    <i class="fa-regular fa-comment mx1"></i>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="likesCount-${post.post.id}">${post.post.likesCount} lượt thích</span>
                                    <span class="show-post ${post.isLiked?"is-like":""}" data-postid="${post.post.id}">${post.post.commentsCount} bình luận</span>
                                </div>
                            </div>

                        </div>`;
                    });
                    $("#postsContainer").append(content);
                    pageIndex++; // Tăng trang để lần sau tải tiếp
                    isLoading = false; // Đánh dấu tải xong
                }
            }
        });
    }
        function loadPostDetail(id) {
                

        $.ajax({
            url: `/Account/GetPostDetail?postId=${id}`,
            method: "GET",
            success: function (data) {
                console.log(data)
                $("#post-detail").removeClass("d-none");
                var  createdAt = new Date(data.post.createdAt).toLocaleString("vi-VN")
                let content = `
                    <div class="post-detail-content mb-3 bg-white brpr col-6">
                       
                        <div>
                            <div class="d-flex p-3">
                                <a class="me-2" href="">

                                    <img src="/img/${data.post.user?.profilePictureUrl}" alt="User Image" style="height:40px;width:40px;border-radius:50%" />
                                </a>
                                <div class="flex-grow-1">
                                    <div>
                                        <span class="fw-bold mb-1">${data.post.user?.fullName}</span>
                                    </div>
                                    <div>
                                        <span style="font-size:12px" class="fw-bold bg-danger-subtle">${createdAt}</span>
                                    </div>
                                </div>
                                <div> <button class="close-btn" data-postid="${data.post.id}" style="border:none; background:none; font-size:18px; cursor:pointer;">✖</button></div>
                            </div>
                            <div class="detail-post" data-postid="${data.post.id}">
                                <div class="px-3 pb-3">
                                    <div class=""><span>${data.post.content}</span></div>
                                </div>
                                <div class="px-5" style="background-color:beige">
        
                                          ${data.post.imageUrl !=null?`<img src="/img/${data.post.imageUrl}" style="width:100%;height:100%" />`:""}

                                </div>
                                <div class="px-3 pt-1 pb-1">
                                    <div>
                                        <i class="fa-solid fa-heart mx-1 like ${data.isLiked?"active-Like":""}" data-postid="${data.post.id}"></i>
                                        <i class="fa-regular fa-comment mx1"></i>
                                    </div>
                                    <div class="d-flex justify-content-between" style="border-bottom:1px solid #dedede">
                                        <span class="likesCount-${data.post.id}">${data.post.likesCount} lượt thích</span>
                                        <span>${data.post.commentsCount} bình luận</span>
                                    </div>
                                </div>
                                <div class="comment">
                                        ${data.post.comments.map(comment => `
                                                <div class="px-3 pt-2 d-flex">
                                                    <div>
                                                        <a class="me-2" href="Profile/${comment.user.fullName}">
                                                            <img src="/img/${comment.user.profilePictureUrl}" alt="Alternate Text" style="height:35px;width:35px;border-radius:50%" />
                                                        </a>
                                                    </div>
                                                    <div class="flex-grow-1 d-flex flex-column align-items-start">
                                                        <div class="p-2" style="border:1px solid #dedede;border-radius:15px;background-color:#f0f2f5">
                                                            <div><span style="font-weight:600;font-size:14px">${comment.user.fullName}</span></div>
                                                            <div><span style="font-size:14px">${comment.content}</span></div>
                                                        </div>
                                                        <ul class="d-flex mb-0 ps-2" style="font-size:12px;color:#6c6f73">
                                                            <li class="pe-1 fw-bold">${formatTimeAgo(comment.createdAt)}</li>
                                                            <li class="pe-1 fw-bold">Thích</li>
                                                            <li class="pe-1 fw-bold">Phản hồi</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            `).join('')}
                                       
                                   
                                     </div>
                                </div>
                                <div class="px-3 pt-2 pb-3 d-flex" style="border-top:1px solid #dedede;">
                                    <div>
                                        <a class="me-2" href="Profile/@User.Identity?.Name"><img src="/img/@imageUrl" alt="Alternate Text" style="height:35px;width:35px;border-radius:50%" /></a>
                                    </div>
                                    <div class="flex-grow-1" style="border-radius:15px;background-color:#f0f2f5">
                                        <input class="w-100 p-2 input-cmt" type="text" style="background-color:#f0f2f5" placeholder="Viết bình luận..."/>
                                        <div class="d-flex justify-content-between p-2">
                                            <div class="d-flex">
                                                <i class="fa-solid fa-image pe-1" style="font-size:15px;color:gray"></i> 
                                                <i class="fa-solid fa-image pe-1" style="font-size:15px;color:gray"></i>
                                                <i class="fa-solid fa-image pe-1" style="font-size:15px;color:gray"></i>
                                                <i class="fa-solid fa-image pe-1" style="font-size:15px;color:gray"></i>
                                                <i class="fa-solid fa-image pe-1" style="font-size:15px;color:gray"></i>
                                            </div>
                                            <div>
                                                <i class="fa-regular fa-paper-plane send-cmt" data-postid=${data.post.id}></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                // Xóa nội dung cũ, sau đó thêm nội dung mới và hiển thị
               $("#post-detail").html(content)
               attachScrollEvent();

            }
        });
    }


    // Kiểm tra khi người dùng cuộn xuống gần cuối trang thì tải bài viết mới
     window.addEventListener("scroll", function () {
        if (window.scrollY + window.innerHeight >= document.documentElement.scrollHeight - 50) {
            loadPosts();
        }
    });
    function CheckFriend(){
        var $this = $("#check-profile");
        console.log(username)
    $.ajax({
        url: `/Account/CheckFriend?userName=${username}`, // Thay thế bằng URL của bạn
        method: 'GET',
        success: function(response) {
           
            var content = '';
            if (response == "Accepted") {
                content = `<button class="btn-profile px-3" id="edit-abc">Bạn bè</button>`;
                $this.html(content);
            }
            if (response == "MyProfile") {
                
                content = `<button class="btn-profile" id="edit-abc">Chỉnh sửa trang cá nhân</button>`;
                $this.html(content); // Hiển thị nút nếu là trang cá nhân của người dùng
            }
            if (response == "Pending") {
                content = `<button class="btn-profile" id="edit-abc">Chờ xác nhận</button>`;
                $this.html(content); // Hiển thị nút nếu yêu cầu kết bạn đang chờ xác nhận
            }
            if (response == null) {
             
                content = `<button class="me-2 p-2" style="background-color:#0d6efd;color:#fff;border-radius:10px;border-color:#0d6efd" id="add-friend-btn"><i class="fa-solid fa-plus" style="font-size:12px"></i><span>Thêm bạn bè</span></button>`;
                $this.html(content); // Hiển thị nút nếu không có trạng thái bạn bè
            }
        },
        error: function() {
            console.error('Lỗi khi kiểm tra trạng thái bạn bè');
        }
        });

    }
    $(document).ready(function(){
        loadPosts();
        CheckFriend();
        $("#edit-bio-btn").on('click',function(){
            $("#bio-text").addClass("d-none");  // Ẩn span
            $("#bio-input").removeClass("d-none").val($("#bio-text").text()).trigger("focus"); // Hiện input với nội dung cũ
            $("#choose-pr").removeClass("d-none"); // Hiện các nút "Hủy" và "Lưu"
            $("#edit-bio-btn").addClass("d-none"); // Ẩn nút "Chỉnh sửa tiểu sử"
        });
        var currentUsername = '@User.Identity?.Name'; // Get the logged-in user's name from Razor
        var path = window.location.pathname; // Get the full URL path from JavaScript
        var profileUsername = path.split('/').pop(); // Get the last part of the URL path (username)

        if (currentUsername !== profileUsername) {
            $('#edit-bio-btn').hide(); // If usernames don't match, hide the button

            $('#edit-abc').hide();
        } else {
            $('#edit-bio-btn').show(); // If usernames match, show the button
 
            $('#edit-abc').show();
        }
        
       
        // Khi nhấn "Hủy"
        $("#cancel-bio-btn").on('click',function(){
            $("#bio-text").removeClass("d-none");  // Hiện lại span
            $("#bio-input").addClass("d-none"); // Ẩn input
            $("#choose-pr").addClass("d-none"); // Ẩn các nút "Hủy" và "Lưu"
            $("#edit-bio-btn").removeClass("d-none"); // Hiện lại nút "Chỉnh sửa tiểu sử"
        });
        // Khi nhấn kết bạn
        $(document).on('click', '#add-friend-btn', function() {
            var path = window.location.pathname; // Get the full URL path from JavaScript
            var profileUsername = path.split('/').pop(); // Get the last part of the URL path (username)
            // Gửi dữ liệu qua AJAX
            $.ajax({
                url: "/Account/AddFriend",
                type: "POST",
                data: { userName: profileUsername },
                success: function(response) {
                    $("#add-friend-btn").hide();
                },
                error: function() {
                    alert("Có lỗi xảy ra, vui lòng thử lại!");
                }
            });
        })

        // Khi nhấn thêm bài viết
        $("#add-post").on('click',function(){
             $("#post-detail").removeClass("d-none");
            var content = `<div class="mb-3 bg-white brpr" style="width:35%">
                        <div class="p-3">
                            <div class="text-center pb-2 mb-3" style="border-bottom:1px solid #dedede"><h3 class="fs-4">Tạo bài viết</h3></div>
                            <div class="d-flex">
                                <a class="me-2" href="Profile/@User.Identity?.Name"><img src="/img/@imageUrl" alt="Alternate Text" style="height:50px;width:50px;border-radius:50%" /></a>
                                <div><span class="fw-bold">@Model.User?.FullName</span></div>
                            </div>
                            <div class="content-post">
                                <div>
                                    <div class="pb-4 pt-2">
                                        <textarea 
                                             style="width: 100%;
                                               overflow: hidden;
                                               resize: vertical;
                                               max-height:500px;
                                               min-height:100px;
                                               resize: none;
                                               border: none;
                                               outline: none;
                                               background-color: transparent;"
                                            id="add-content" class="w-100 text-lg-start" type="text" style="word-break: break-word; white-space: pre-wrap;" name="name" placeholder="Bạn đang nghĩ gì"></textarea>
                                    </div>
                               </div>
                           
                                
                               <img id="previewImage" class="p-2 brpr" src="" alt="Ảnh xem trước" style="max-width: 100%;height:auto; display: none;">
                            </div>
                           
                           
                            <div class="d-flex mt-3 pt-3 pb-3 px-2" style="border:1px solid #dedede;border-radius:10px">
                                <div class="col-6 text-center ">
                                    <span class="me-1 fw-bold">Thêm vào bài viết của bạn</span>
                   
                                </div>
                                <div class="col-6 d-flex justify-content-between flex-row-reverse">
                                        <span class="me-1 file-upload-btn">
                                            <i class="fa-solid fa-image" style="font-size:20px;color:green;cursor:pointer;"></i>
                                        </span>

                                        <!-- Input file (ẩn) -->
                                        <input type="file" id="fileInput" style="display: none;" accept="image/*">

                                        <!-- Khu vực xem trước ảnh -->
                                        

                                </div>
               
                            </div>
                             <div class="d-flex mt-3 pt-2 pb-2 px-2 text-center block" id="post-btn" style="border-radius:10px">
                               
                                    <span class="me-1 fw-bold w-100 ">Đăng</span>

                               
          

                            </div>
                        </div>
                    </div>`
                    $("#post-detail").html(content)
            // Gửi dữ liệu qua AJAX

        });
        
        
        // Khi nhấn "Lưu"
        $("#save-bio-btn").on('click',function(){
            var newBio = $("#bio-input").val().trim();

            if (newBio === "") {
                alert("Tiểu sử không được để trống!");
                return;
            }

            // Gửi dữ liệu qua AJAX
            $.ajax({
                
                url: "/Account/UpdateBio",
                type: "POST",
                data: { bio: newBio },
                success: function(response) {
                    $("#bio-text").text(newBio).removeClass("d-none");
                    $("#bio-input").addClass("d-none");
                    $("#choose-pr").addClass("d-none");
                    $("#edit-bio-btn").removeClass("d-none");
                },
                error: function() {
                    alert("Có lỗi xảy ra, vui lòng thử lại!");
                }
            });
        });
        
        $(document).on("click", ".file-upload-btn", function () {
            $("#fileInput").trigger("click");
        });
        $(document).on("input", "#add-content", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
            var text = $(this).val().trim();
            if (text.length > 0) {
                    $("#post-btn").removeClass("block");
                    $("#post-btn").addClass("accept");
                    
            }else {
                   
                    $("#post-btn").removeClass("accept");
                    $("#post-btn").addClass("block");
            }
        });
            $(document).on("click", "#post-btn", async function () {
        let content = $("#add-content").val().trim();
        let fileInput = $("#fileInput")[0];
        let file = fileInput.files.length > 0 ? fileInput.files[0] : null;

        if (!content && !file) {
            alert("Vui lòng nhập nội dung hoặc chọn ảnh!");
            return;
        }

        // Tạo FormData để gửi file và nội dung
        let formData = new FormData();
        formData.append("content", content);
        if (file) {
            formData.append("file", file); // Thêm file vào FormData
        }

        $.ajax({
            url: "/Account/AddPost",
            type: "POST",
            data: formData,
            processData: false,  // Không xử lý dữ liệu (vì FormData đã xử lý)
            contentType: false,  // Không đặt Content-Type để trình duyệt tự động thêm `multipart/form-data`
            success: function (response) {
                alert("Bài viết đã được đăng!");
                location.reload();
            },
            error: function (xhr) {
                console.error("Lỗi đăng bài:", xhr.responseText);
                alert("Đăng bài thất bại: " + xhr.responseText);
            }
        });
    });

       
    $(document).on("change", "#fileInput", function () {
            if (this.files.length > 0) {
            let file = this.files[0];
            let reader = new FileReader();

            reader.onload = function (e) {
                $("#previewImage").attr("src", e.target.result).show(); // Hiển thị ảnh
            };

            reader.readAsDataURL(file); // Đọc file ảnh
            console.log(file)
            }
    });

        //Khi nhấn Like
    $(document).on("click", ".like", function(){
            var postId = $(this).data("postid");

            var $this = $(this);

            // Kiểm tra trạng thái like
            if ($this.hasClass("active-Like")) {
                // Nếu đã thích, bỏ lớp active-Like và làm giảm số lượt thích
                $(".show-post").removeClass("is-like")
                $(`#${postId}`).removeClass("active-Like")
                $this.removeClass("active-Like");
            } else {
                // Nếu chưa thích, thêm lớp active-Like và tăng số lượt thích
                $this.addClass("active-Like");
                $(".show-post").addClass("is-like")
                $(`#${postId}`).addClass("active-Like")
            }

        // Gửi dữ liệu qua AJAX
            $.ajax({
                url: "/Account/AddLike",
                type: "POST",
                data: { postId: postId },
                success: function(response) {
                    // Cập nhật số lượt thích
                    $(".likesCount-" + postId).text(response.likesCount + " Lượt thích");
                },
                error: function() {
                    alert("Có lỗi xảy ra, vui lòng thử lại!");
                }
            });
        });
        //Khi người dùng nhấn vào chi tiết bài viết
        $(document).on("click", ".show-post", function() {
            var postId = $(this).data("postid");

            document.body.classList.add("no-scroll");
            loadPostDetail(postId);
            startSignalR(postId);
        });
        $(document).on("click", ".close-btn", function() {
            var postId = $(this).data("postid");
            pageIndexCmt = 2;
            isLoadingCmt = false;
            console.log(isLoading)
            if (connection) {
                connection.invoke("LeavePostGroup", postId)
                .then(() => {
                console.log(`👋 Rời nhóm post-${postId}`);
                return connection.stop();
                })
                .then(() => {
                console.log("🔌 Đã đóng kết nối SignalR");
                connection = null;
                })
                .catch(err => console.error("Lỗi khi rời nhóm hoặc đóng kết nối:", err));
            }
            document.body.classList.remove("no-scroll");
            $("#post-detail").addClass("d-none");
        });


        $(document).on("click", ".send-cmt", function() {
             var content = $(".input-cmt").val();
             var postId = $(this).data("postid")
             if (!content.trim()) {
                alert("Nội dung bình luận không được để trống!");
                return;
             }

            $.ajax({
                url: "/Comment/AddComment",
                type: "POST",
                data: { postId: postId, content: content },
                success: function(response) {
                      alert("Bình luận đã được gửi!");
                    $(".input-cmt").val(""); // Xóa nội dung sau khi gửi
                },
                error: function(xhr) {
               
                    console.log(xhr.responseText)
                }
            });
        });
       
    });
    function attachScrollEvent() {
        $(".detail-post").off("scroll").on("scroll", function () {
            let postId = $(this).data("postid");
           
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight - 50) {

                loadMoreComments(postId);
            }
        });
    }
    function loadMoreComments(postId) {

        if(isLoadingCmt) return
        isLoadingCmt = true
        console.log(pageIndexCmt)
        $.ajax({
            url: `/Comment/RenderComment?postId=${postId}&pageIndex=${pageIndexCmt}&pageSize=${pageSizeCmt}`,
            type: "GET",
            success: function (data) {
                
                let content = "";
                if (data.length === 0) {
                    $(".detail-post").off("scroll"); // Ngừng sự kiện scroll khi không còn dữ liệu
                } else {
                    data.forEach(comment => {
                        content += `
                            <div class="px-3 pt-2 d-flex">
                                <div>
                                    <a class="me-2" href="Profile/${comment.user.fullName}">
                                        <img src="/img/${comment.user.profilePictureUrl}" alt="User Image" style="height:35px;width:35px;border-radius:50%" />
                                    </a>
                                </div>
                                <div class="flex-grow-1 d-flex flex-column align-items-start">
                                    <div class="p-2" style="border:1px solid #dedede;border-radius:15px;background-color:#f0f2f5">
                                        <div><span style="font-weight:600;font-size:14px">${comment.user.fullName}</span></div>
                                        <div><span style="font-size:14px">${comment.content}</span></div>
                                    </div>
                                    <ul class="d-flex mb-0 ps-2" style="font-size:12px;color:#6c6f73">
                                        <li class="pe-1 fw-bold">${formatTimeAgo(comment.createdAt)}</li>
                                        <li class="pe-1 fw-bold">Thích</li>
                                        <li class="pe-1 fw-bold">Phản hồi</li>
                                    </ul>
                                </div>
                            </div>`;
                    });

                    $(".comment").append(content);
                    isLoadingCmt=false
                    pageIndexCmt++; // Tăng chỉ mục trang để tải tiếp
                }
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    }
    function startSignalR(postId) {
        if (connection && connection.state === "Connected") {
            console.log("⚠️ SignalR đã được kết nối, không tạo lại!");
            return;
        }

        connection = new signalR.HubConnectionBuilder()
            .withUrl("/commentHub")  // Kết nối với Hub
            .withAutomaticReconnect() // Tự động kết nối lại khi bị mất kết nối
            .build();

        // Nhận dữ liệu khi có bình luận mới
        connection.on("ReceiveComment", (comment) => {
            if (!comment || !comment.user) {
                console.error("❌ Dữ liệu bình luận không hợp lệ:", comment);
                return;
            }
            var createAt = comment.createdAt
             console.log(comment.createdAt)
            comment.createdAt=createAt.replace("Z", "");
            console.log(comment.createdAt)

            var content =  `
                            <div class="px-3 pt-2 d-flex">
                                <div>
                                    <a class="me-2" href="Profile/${encodeURIComponent(comment.user.fullName)}">
                                        <img src="/img/${comment.user.profilePictureUrl}"
                                             alt="User Image"
                                             style="height:35px;width:35px;border-radius:50%" />
                                    </a>
                                </div>
                                <div class="flex-grow-1 d-flex flex-column align-items-start">
                                    <div class="p-2" style="border:1px solid #dedede;border-radius:15px;background-color:#f0f2f5">
                                        <div><span style="font-weight:600;font-size:14px">${comment.user.fullName}</span></div>
                                        <div><span style="font-size:14px">${comment.content}</span></div>
                                    </div>
                                    <ul class="d-flex mb-0 ps-2" style="font-size:12px;color:#6c6f73">
                                        <li class="pe-1 fw-bold">${formatTimeAgo(comment.createdAt)}</li>
                                        <li class="pe-1 fw-bold">Thích</li>
                                        <li class="pe-1 fw-bold">Phản hồi</li>
                                    </ul>
                                </div>
                            </div>`;
            $(".comment").append(content);
        });

        // Xử lý kết nối thành công
        connection.start()
            .then(() => {
                   console.log("✅ SignalR kết nối thành công");
                   return connection.invoke("JoinPostGroup", postId); // Đợi kết nối hoàn thành rồi mới gọi
            })
            .catch(err => console.error("❌ Lỗi kết nối SignalR:", err));
        
    }
    

</script>
